.white {
  color: #fff;
}
.green {
  color: #45a149;
}
.blu {
  color: #04afc4;
}
.orange {
  color: #fb8d01;
}
.gray {
  color: #6c6c6c;
}
.big {
  font-size: 18px;
}
.title-popup-add {
  padding: 20px 20px 0 20px !important;
}
.input-list {
  padding-bottom: 30px !important;
  &:first-child {
    padding-top: 10px !important;
  }
}
.input-add-data {
  margin-top: 30px !important;
}
.add-btn {
  background: linear-gradient(45deg, #6bcc50 30%, #00b672 90%);
  border-radius: 3;
  border: 0;
  color: "white";
  height: 48px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px #c1e4b6;
}
.cancel-btn {
  background: linear-gradient(45deg, #959697 30%, #89ADB9 90%);
  border-radius: 3;
  border: 0;
  color: "white";
  height: 48px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px #BCBEC0;
}
